@use "styles/index.sass" as *

.mainContainer
  padding: 96px 32px 32px
  background-color: $lightGray
  min-height: 100vh

  +viewM()
    padding: 88px 24px 24px

  +viewS()
    padding: 80px 16px 16px
